build

!build/build.h

*.o

*.P

src/obj/build.h

src/obj/irc.o-4d5f86bb

libjl777/n

.m_unix.swp

libjl777/libjl777.a

libjl777/libtom/saferp.o-05ed7a64

libjl777/libjl777.o-4a56f5f4

libjl777/libjl777.o-4a56f5f4

libjl777/libjl777.o-1bc84780

libjl777/libjl777.o-73e11454

src/x

libjl777/NXTprivacy copy.h

libjl777/packets copy.h

src/main.old

b

g

libjl777/libs/libjl777.a

libjl777/libs/libnacl.a

libjl777/libs/libuv.a

libjl777/libuv/config.log

libjl777/libuv/config.status

libjl777/libuv/Makefile

msg

p

revert.zip

s

src/libjl777.a

src/libnacl.a

src/libuv.a

src/SuperNET.conf

SuperNET.conf

libjl777/test.zip

n

n

main.cpp

libjl777/includes/libwebsockets.h

libjl777/includes/lws_config.h

src/leveldb/db/db_test.cc

foo
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

.qmake.stash
# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


src/*.exe
src/opalcoin
src/opalcoind
src/test_opalcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.P
.opalcoin
*.directory

# Compilation and Qt preprocessor part
*.qm
Makefile
opalcoin-qt
OpalCoin-Qt.app

# Unit-tests
Makefile.test
opalcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile

src/obj/build.h
